@font-face {
  font-family: "iconfont"; /* Project id 3962699 */
  src: url('iconfont.woff2?t=1679233846559') format('woff2'),
       url('iconfont.woff?t=1679233846559') format('woff'),
       url('iconfont.ttf?t=1679233846559') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-left:before {
  content: "\e617";
}

.icon-caret-right:before {
  content: "\e618";
}

.icon-arrow-left:before {
  content: "\e619";
}

.icon-arrow-right:before {
  content: "\e61a";
}

